/* -------------- Main---------------- */
.one {
  margin: 0 5vw;
  padding: 0 2vw;
}
.two {
  margin: 0 5vw;
  padding: 0 2vw;
}
.three {
  margin: 0 5vw;
  padding: 0 2vw;
}
.four {
  margin: 0 5vw;
  padding: 0 2vw;
}
.five {
  margin: 0 5vw;
  padding: 0 2vw;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.tagline h1 {
  display: flex;
  margin: 15px 25px;
}
.description {
  color: #aaa;
  font-size: clamp(10px, 2vw, 16px);
  margin: 0 25px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.btnarea {
  margin: 0 5vw;
}
.btnarea button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  gap: 15px;
  min-height: 40px;
  min-width: 110px;
  font-size: medium;
  font-weight: 550;
  cursor: pointer;
}
.btnarea button:hover {
  transform: scale(1.01);
  transition: 0.3s;
  transform: translateY(-2px);
  background-color: whitesmoke;
}
.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding-right: 5%;
}
#searchbuttonsymbol {
  height: 15px;
  filter: invert(1);
  position: sticky;
  left: 2.5em;
}

#searchInput {
  width: 100%;
  margin: 25px 10px;
  padding: 10px 15px 10px 40px;
  border-radius: 10px;
  border: 1px solid #333;
  background: #0f0f0f;
  color: white;
  outline: none;
}

#searchInput::placeholder {
  color: #888;
}
.tags {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 25px;
}
.tag {
  background-color: #0f0f0f;
  border: 1px solid #333;
  min-height: 30px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.activetab {
  background-color: rgb(205, 205, 205);
  color: black;
  transition: 0.1s;
}
.deactivetab {
  background-color: #111111;
  color: white;
}

.freq {
  margin: 20px 0;
  padding: 0 10px;
  background-color: #0f0f0f;
  border: 1px solid #333;
  min-height: 80px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
 .savednotes{
    width: 100%;
  }
.savednotes ul {
  display: grid;
  grid-template-columns: auto auto auto;
}
.savednotes ul li {
  text-decoration: none;
  list-style-type: none;
  border: 1px solid #333;
  border-radius: 20px;
  margin: 25px 0;
  padding: 10px 20px;
  min-height: 40vh;
  max-height: 120px;
  width: 70%;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
}
.savednotes li h3 {
  text-align: left;
  border-left: 3px solid yellow;
  padding: 0 5px;
}
.savednotes li p {
  text-align: left;
  font-size: smaller;
  color: #aaa;
  margin-top: 0;
  overflow: hidden;
  line-height: 1.6;
  height: 50%;
}
.info {
  text-align: left;
  font-size: smaller;
  color: #aaa;
  overflow: hidden;
  margin: 10px 0;
}
.divider {
  border: none;
  height: 2px;
  background-color: #333;
  margin: 20px 0;
  width: 100%;
}
.catlabel {
  background-color: #0f0f0f;
  border: 1px solid #333;
  min-height: 20px;
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: smaller;
  color: #999;
}

.fav-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 18px;
}
.savednotes ul li:hover {
  transform: scale(1.02);
  transition: 0.3s;
  transform: translateY(-5px);
}

/* -------------- Mobile Responsiveness ---------------- */
@media (max-width: 600px) {
  .one {
    margin: 0 1vw;
    padding: 0;
  }
  .two {
    margin: 0 1vw;
    padding: 0;
  }
  .three {
    margin: 0 1vw;
    padding: 0;
  }
  .four {
    margin: 0 1vw;
    padding: 0;
  }
  .five {
    margin: 0 1vw;
    padding: 0;
  }
  .btnarea {
  padding: 0 1vw;
}
  .tags{
    padding: 20px 0;
  }
  .freq {
    width: 100%;
    margin: 0;
  }
  .savednotes{
    width: 90%;
    margin: 15px 25px;
  }
  .savednotes ul {
    display: grid;
    grid-template-columns: auto;
    margin: 25px 0;
    padding: 0 0;
  }
  .savednotes ul li{
    width: 85%;
    min-height: 350px;

  }
}
