/* --------------- Main --------------- */
h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}

h5 {
  font-size: medium;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d0d;
  border-bottom: 1px solid #1f1f1f;
}
.pbackbtn {
  width: 45%;
}
.utilities {
  height: 30px;
  width: 55%;
  display: flex;
  justify-content: flex-end;
  background-color: #0d0d0d;
}
.utilities-nav {
  padding: 0 20px;
  margin: 0 40px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: linear-gradient(145deg, #1a1a1a, #111);
}
.utilities ul:first-child {
  display: flex;
  gap: clamp(2px, 1%, 50px);
  justify-content: flex-end;
  font-size: clamp(10px, 2vw, 16px);
  color: #888;
  list-style-type: none;
  cursor: pointer;
}
.menu-item {
  position: relative;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
}
.menu-item ul {
  width: fit-content;
  text-align: left;
}
.activebtn-menu {
  /* color: white; */
  background-color: #4242426a;
}
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #111;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 10px 0;
  min-width: 120px;
  width: fit-content;
  display: none;
  flex-direction: column;
  z-index: 1000;
}
.dropdown li {
  padding: 10px 15px;
  white-space: nowrap;
  font-size: small;
  cursor: pointer;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.dropdown li img {
  width: 20px;
  margin-right: 5px;
  display: none;
}
.export-dropdown {
  background-color: white;
  color: black;
  min-width: 70px;
}
#fullscreenBtn {
  width: 13px;
  /* height: 20px; */
  filter: invert(100%);
}
.Working {
  display: flex;
  justify-content: space-between;
  background-color: #0d0d0d;
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;
}
.leftsection {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}
.datatype button {
  width: 45%;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.activebtn-dataype {
  background-color: white;
  color: black;
}
.deactivebtn-datatype {
  background-color: #111111;
  color: white;
}
.panel {
  background: linear-gradient(145deg, #1a1a1a, #111);
  padding: 30px;
  width: 25vw;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}
.panel h2 {
  margin-bottom: 25px;
  font-size: clamp(22px, 4vw, 28px);
}
.panel p {
  color: #777;
  font-size: small;
}
.panel label {
  display: block;
  margin-top: 18px;
  margin-bottom: 6px;
  font-weight: 500;
}

/* ------------------- inputs -------------------- */

.panel input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #333;
  background: #000;
  color: white;
  font-size: clamp(14px, 2vw, 16px);
  box-sizing: border-box;
}
.panel input::placeholder {
  color: #777;
}
.panel select {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #333;
  background: #000;
  color: white;
  font-size: clamp(14px, 2vw, 16px);
  box-sizing: border-box;
}
.color-row {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 15px 0;
}

.color-row input[type="color"] {
  width: 90px;
  height: 53px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.add-btn {
  /* margin-top: 25px; */
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  border: none;
  background: #0c0c3d;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-btn:hover {
  background: #121255;
}
.rightsection {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.plot {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  width: 100%;
}
.plot-container {
  background: #0f0f0f;
  border-radius: 20px;
  padding: 25px;
  color: white;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 800px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border: 1px solid #1f1f1f;
  /* margin: 0 auto; */
  margin-right: 50px;
}
.plot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.plot-header h2 {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 600;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
  border-radius: 20px;
}

.toggle span {
  font-size: 14px;
  color: #ccc;
}
.toggle select {
  background: #111;
  color: white;
  border: 1px solid #333;
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.export-buttons button {
  background: #f1f1f1;
  border: none;
  padding: 10px 16px;
  margin-left: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.export-buttons button:hover {
  transform: translateY(-2px);
  background: #e2e2e2;
}

.plot-area {
  background: #000;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
}

canvas {
  background-color: transparent;
  width: 100%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 1 / 1;
  cursor: crosshair;
}
.point {
  display: flex;
  gap: 50px;
  visibility: hidden;
}

.promptbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background: #0f0f0f;
  border-radius: 20px;
  padding: 15px;
  color: white;
  width: 300px;
  border: 1px solid #1f1f1f;
  display: none;
  font-size: small;
}
.promptbox img {
  filter: invert(1) contrast(1.1);
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.promptbox input {
  width: 32%;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  border: 1px solid #333;
  background: #000;
  color: white;
  font-size: clamp(8px, 1vw, 12px);
  box-sizing: border-box;
}
.promptbox button {
  width: 25%;
  padding: 5px 2px;
  margin: 5px;
  border-radius: 12px;
  border: none;
  background: white;
  color: black;
  font-size: clamp(8px, 1vw, 12px);
  cursor: pointer;
}
.promptbox select {
  width: 22%;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  border: 1px solid #333;
  background: #000;
  color: white;
  font-size: clamp(8px, 1vw, 12px);
  box-sizing: border-box;
  cursor: pointer;
}
#angleResult {
  font-size: small;
  color: #ccc;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #555;
  border-radius: 26px;
  transition: 0.4s;
}
.slider:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background: #2196f3;
}

.switch input:checked + .slider:before {
  transform: translateX(14px);
}

/* ------------------ Interpretations --------------------- */
.interpretations {
  margin-top: 130px;
  background: linear-gradient(145deg, #1a1a1a, #111);
  border-radius: 20px;
  padding: 25px;
  color: white;
  width: 85%;
  height: 240px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border: 1px solid #1f1f1f;
}
.interpreations h2 {
  font-size: clamp(22px, 4vw, 28px);
  margin-bottom: 20px;
}
.box {
  background: #111;
  border-radius: 15px;
  padding: 25px 5px;
  margin-bottom: 15px;
  border: 1px solid #222;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: auto;
}
.box p {
  color: #777;
  font-size: small;
}
.box table {
  color: #777;
  font-size: small;
  border-collapse: collapse;
}

/* ------------------ Plot Areas --------------------- */
.plot-area {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.373);
}
.export-buttons button {
  transition: 0.2s;
}
.savedplots {
  margin-right: 50px;
  margin-top: 100px;
  background: #0f0f0f;
  border-radius: 20px;
  padding: 20px;
  color: white;
  width: 85%;
  height: 250px;
  max-height: 300px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border: 1px solid #1f1f1f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}
.plotTable {
  width: 100%;
  max-width: 800px;
  margin: 10px 0px;
  border-collapse: collapse;
}

.plotTable table {
  width: 100%;
}

.plotTable th,
.plotTable td {
  border: 1px solid #333;
  padding: 10px;
}
.plotTable td {
  color: #777;
}
.dustbin {
  cursor: pointer;
  width: 20px;
  height: 20px;
  filter: invert(100%);
}
/* Mobile responsiveness */
@media (max-width: 600px) {
  .Working {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 87%;
  }

  .leftsection,
  .rightsection {
    width: 100%;
  }

  .rightsection {
    align-items: center;
  }

  .panel {
    width: 70%;
    max-width: none;
    margin-top: 20px;
  }
  .panel h2 {
    font-size: medium;
  }
  .datatype button {
    font-size: small;
    width: 40%;
    padding: 10px 15px;
  }
  .add-btn {
    font-size: medium;
    padding: 10px 15px;
  }
  .panel label {
    font-size: small;
  }
  .panel p {
    font-size: 11px;
  }
  .plot {
    margin-top: 20px;
  }

  .plot-container {
    width: 100%;
    margin-right: 0;
    padding: 15px;
    max-height: none;
  }
  .plot-header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .export-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: small;
  }
  .savedplots {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .plotTable {
    display: block;
    width: 70%;
    overflow-x: auto;
    margin: 0 auto;
  }
  .plotTable {
    width: 100%;
  }
  .plotTable {
    font-size: x-small;
  }
  .plotTable img {
    width: 10px;
    height: auto;
  }
}
